[submodule "vinci_food_api"]
	path = vinci_food_api
	url = git@github.com:vis-marin-bilisim/vinci_food_api.git
[submodule "vinci_food_route_planner"]
	path = vinci_food_route_planner
	url = git@github.com:vis-marin-bilisim/vinci_food_route_planner.git
